<md-card>
    <md-card-header>
        <md-card-avatar>
            <md-icon md-font-set="material-icons"> smartphone</md-icon>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">IoT</span>
            <span class="md-subhead">scann code and shake phone</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <p id="iotQrCode" align="center"><img width="90%" src="img/iotQrCode.png" alt="QR-Code"/></p>
        <p id="renderIoT" align="center"></p>
    </md-card-content>
</md-card>