<md-card>
    <md-card-header>
        <md-card-avatar>
            <md-icon md-font-set="material-icons"> wb_sunny</md-icon>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">Get the weather</span>
            <span class="md-subhead">record and show your text</span>
        </md-card-header-text>
    </md-card-header>
    <md-progress-linear ng-show="spinnerWeather" md-mode="query"></md-progress-linear>
    <md-card-content>
        <div layout="column" layout-xs="column">
            <div layout="row" layout-xs="column">
                <div flex>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>From</label>
                        <md-select ng-model="location">
                            <md-option ng-repeat="local in locals" value="{{local}}">{{local.label}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Language</label>
                        <md-select ng-model="language">
                            <md-option value="en-US">
                                English
                            </md-option>
                            <md-option value="de-DE">
                                German
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div ng-show="showMessage">
                <p align="center">
                    {{ message }}
                    <br/><br/>
                    <img ng-src="{{weatherIcon}}" alt="WeatherIcon" width="25%" height="25%"/>
                </p>
            </div>
        </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
        <md-button ng-click="getWeather(dashboard)" class="md-raised" style="margin-bottom: 20px;">
            <md-icon md-font-set="material-icons"> update</md-icon>
            Get Weather
        </md-button>
    </md-card-actions>
</md-card>